@charset "utf-8";
.XMLID_18_ {
    background-image: url(XMLID_18_.png);
    background-repeat: no-repeat;
}

.XMLID_15_ {
    background-image: url(XMLID_15_.png);
    background-repeat: no-repeat;
}

.XMLID_17_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_13_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_11_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_22_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_1_ {
    background-image: url(XMLID_1_.png);
    background-repeat: no-repeat;
}

.XMLID_20_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_9_ {
    background-image: url(XMLID_9_.png);
    background-repeat: no-repeat;
}

.XMLID_16_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_2_ {
    background-image: url(XMLID_2_.png);
    background-repeat: no-repeat;
}

.XMLID_12_ {
    background-image: url(XMLID_12_.png);
    background-repeat: no-repeat;
}

.XMLID_6_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_5_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_7_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.XMLID_26_ {
    border-style: Solid;
    border-color: #1D1D1B;
    border-color: rgba(29, 29, 27, 1);
    border-width: 1px;
}

.Estilodecarcternormal2 {
    font-family: Myriad Pro;
    font-size: 12px;
    color: #3C3C3B;
    color: rgb(60, 60, 59);
}

.Estilodecarcternormal7 {
    font-family: Myriad Pro;
    font-size: 24px;
    color: #1D1D1B;
    color: rgb(29, 29, 27);
}

.Estilodecarcternormal6 {
    font-family: Myriad Pro;
    font-size: 18px;
    color: #3C3C3B;
    color: rgb(60, 60, 59);
}

.Estilodecarcternormal5 {
    font-family: Myriad Pro;
    font-size: 12px;
    color: #3C3C3B;
    color: rgb(60, 60, 59);
}

.Estilodecarcternormal {
    font-family: Myriad Pro;
    font-size: 12px;
    color: #3C3C3B;
    color: rgb(60, 60, 59);
}

.Estilodecarcternormal1 {
    font-family: Myriad Pro;
    font-size: 24px;
    color: #1D1D1B;
    color: rgb(29, 29, 27);
}

.Estilodecarcternormal4 {
    font-family: Myriad Pro;
    font-size: 12px;
    color: #3C3C3B;
    color: rgb(60, 60, 59);
}

.Estilodecarcternormal3 {
    font-family: Myriad Pro;
    font-size: 24px;
    color: #1D1D1B;
    color: rgb(29, 29, 27);
}
